.header{
    display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    border-bottom: 2px solid gray;
}
.header p{
    font-size: 25px;
    font-weight: 100;
    padding-top:15px;
    
}
form{
    max-width: 50vw;
    border:2px solid gray;
    background: rgba(206, 202, 202, 0.199);
}
.addform{
    background: rgb(236, 236, 236);

}
.checkbox{
    margin:0;
    padding:0;
    padding-left:20px;
}
form > *{
    padding:20px;
}
.addbook{
    margin:20px;
}
.library{
    display: grid;
    margin: 200px auto;
    max-width: 50vw;
    border:1px solid black;
    border-radius: 5px;
    grid-template-columns: 1fr; 
}
.example-book > *{
    margin:0;
    border-right: 1px solid rgba(206, 202, 202, 0.363);
    padding-right:8px;
}
.example-book button{
    margin-right:8px;
}
.example-book{
    display:grid;
    grid-template-columns: 5fr 3fr 1fr 1fr 1fr;
    padding:10px 0 10px 10px;
    grid-gap:10px;
    align-items: center;
    border-bottom: 1px solid rgba(206, 202, 202, 0.363);
    
}
.top{
    grid-column: 1 / -1;
    background: rgba(206, 202, 202, 0.199);
    border-bottom:1px solid rgba(206, 202, 202, 0.363);
    padding:5px;
}
.alert{
    text-align: center;
    display: none;
}
.example-book:nth-child(odd){
    background:rgba(206, 202, 202, 0.199);
    
}
